.footer {
  background-color: #0d0d0d;
  border-top: 5px solid #1e293b;
  color: #f1f1f1;
  padding: 3rem 2rem;
  font-family: 'Poppins', sans-serif;
  /* text-align: center; */
}

.footer-content h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #fff;
}

.footer-content p {
  font-size: 0.95rem;
  color: #aaa;
  margin: 0.2rem 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 1rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #00bcd4;
  text-decoration: underline
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.social-icons a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bcd4;
  text-decoration: underline;
}

.footer-bottom {
  /* margin-top: 2rem; */
  font-size: 0.85rem;
  color: #888;
  text-align: start;
}

.footer-logo {
  display: flex;
  justify-content: end;
  margin-top: -1.5rem;
}

.footer-logo img {
  height: 70px;
  width: 70px;
  /* border-radius: ; */
  margin-right: 1rem;
}
